<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form action="/login" method="post">
    <input type="text" name="username"><br>
    <input type="text" name="password"><br>
    <button>로그인</button>
</form>
</body>
</html>